@media only screen and (max-width: 766px) {
  .responsive_nav1 {
    width: 300px;

    display: list-item;
  }

  .res_header_alignment {
    margin-right: 37px;
  }

  .responsive_overFlow {
    height: 58px;
    overflow-y: hidden;
  }

  .btn_res {
    height: 37px;
    padding: 8px 9px;
  }

  .img_res {
    height: 26px;
    max-width: 29px !important;
  }

  .responsive_nav1>button {
    display: inline-block;
    margin: auto;
    width: 100%;
  }

  .responsive_nav3 {
    margin: auto;
    width: 10%;
    padding: 6px;
  }

  .res_text {
    padding-right: 3.5rem;
  }

  .responsive_footer {
    line-height: 10px;
    margin-right: 44px;
  }

  .responsive_footer .justify-around {
    margin-right: 30px;
  }

}

.responsive_nav3 {
  padding: 6px;
}

@media only screen and (max-width: 760px) {
  .responsive_nav2 {
    width: 300px;
    display: inline-table;
    min-height: 100px;
    text-align: center;
    padding: 4px 0;
  }

  .responsive_nav2 input {
    width: 100px;
    margin-top: 12px;

  }
}

@media only screen and (max-width: 500px) {
  .responsive_Cat {
    position: fixed;
    bottom: 25%;
  }
}

/* @media only screen and (max-width: 1065px) {
  .responsive_overFlow {
    width: 45vw;
    overflow-y: hidden;
  }
} */

@media only screen and (min-width: 757px) {
  .responsive_overFlow {
    width: 16vw;
    overflow-y: hidden;

  }

  .responsive_overFlow .btn_res {
    height: 31px;
    padding: 5px 9px;
  }
}

@media only screen and (max-width: 1194px) {
  .hide_img {
    display: none;
  }
}

@media only screen and (max-width: 871px) {
  .hide_img {
    display: none;
  }
}


@media only screen and (min-width: 1097px) {
  .responsive_overFlow {
    /* background-color: red; */
    width: 46%;
    overflow: hidden;
  }
}

.show_text:hover::after {
  position: absolute;
  color: black;
  border-radius: 5px;
  padding: 5px;
  top: 100%;
  z-index: 100;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.226);
  content: 'Filter';
  font-size: 10px;
}

.border_hover:hover {
  border-bottom: 1px solid red;
}

.border_hover {
  border: 1px solid white;
  font-weight: 700;
}

.selected_border {
  border-bottom: 1px solid red;
}

::placeholder {
  font-weight: 600;
  color: black
}

.text_thin::placeholder {
  font-weight: 400;
}

.responsive_footer {
  background: white;
  box-shadow: 2px 3px 4px 4px #c7baba91;
}